In [ ]:
import pandas as pd

In [28]:
#Leer archivos
rus = pd.read_csv("../../data/rus2017.csv")

In [29]:
rus["long"] = rus["long"].round(3)
rus["lat"] = rus["lat"].round(3)

In [30]:
rus = rus.drop(["smp","calle","num","barrio","comuna","nombre","observacio","rama","subrama","ssrama"],1)

In [31]:
rus

,long,lat,tipo1_16,tipo2_16,pisos_16,5_dig,4_dig,3_dig,2_dig
0,-58.456,-34.597,E,VIVIENDA,1,3,0,0,0
1,-58.456,-34.597,EP,METALURGIA,1,28900,2890,289,28
2,-58.456,-34.597,E,CASA,1,4,0,0,0
3,-58.456,-34.597,GAP,GARAGE PRIVADO,1,63312,6331,633,63
4,-58.456,-34.597,GAP,GARAGE PRIVADO,1,63312,6331,633,63
...,...,...,...,...,...,...,...,...,...
561717,-58.469,-34.660,LOTE,OTROS,0,29,0,0,0
561718,-58.469,-34.660,LOTE,OTROS,0,29,0,0,0
561719,-58.469,-34.660,LOTE,OTROS,0,29,0,0,0
561720,-58.469,-34.660,LOTE,OTROS,0,29,0,0,0
561721,-58.469,-34.660,LOTE,OTROS,0,29,0,0,0

E       270677
L       116862
GAP     115083
EDU      15389
LG       13186
EP        7973
LOTE      5209
G         4788
SU        3477
U         3274
GA        2818
P         2646
ES         340
Name: tipo1_16, dtype: int64